<!--The content below is only a placeholder and can be replaced.-->
<div class="box center">
  <mat-card-title style="text-align: center;">
      <p>Angular MessageBox Alerts!</p>
  </mat-card-title>
  <mat-radio-group [(ngModel)]="style">
      <mat-radio-button value={{style_full}}>Full</mat-radio-button>
      <mat-radio-button value={{style_simple}}>Simple</mat-radio-button>
    </mat-radio-group>
    <br/>
  <mat-form-field>
    <input matInput type="text" id="title" placeholder="Dialog Title" [(ngModel)]="title"/>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" id="message" placeholder="Message" [(ngModel)]="message"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" id="additional_message" placeholder="Additional Information" [(ngModel)]="information"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Button" [(ngModel)]="button">
      <mat-option *ngFor="let button of buttons" [value]="button.value" >
        {{ button.display }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="allow_outside_click">
    Close when user clicks outside
  </mat-checkbox>
  <mat-form-field>
      <input matInput type="text" id="size" placeholder="Dialog Width" [(ngModel)]="width"/>
    </mat-form-field>
  <br/>
  <button mat-raised-button color="primary" (click)="onShowClick()">Show Dialog</button><br/>
  <button mat-raised-button color="primary" (click)="onSendService()">Send By Service</button>
</div>
