/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.center {
  margin: 10px auto;
  /*text-align: center;*/
}
.mat-dialog-container {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}

